<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>jchemhub.view.ReactionEditor</title>
<!-- 
 <script src="../../jchemhub_compiled.js"></script>
 -->
<script src="../../third-party/closure/closure/goog/base.js"></script>
<script src="../deps.js"></script>

<script src="../io/json_test_rxn.js"></script>

<script>
	goog.require('jchemhub.controller.Controller');
	goog.require('goog.events.EventType');
	goog.require('goog.dom');
</script>
<script>
    
	var controller;
	
function initPage(){
	var model = jchemhub.io.json.readReaction(reactionDrawing);
	controller = new jchemhub.controller.Controller(goog.dom.getElement('reactionEditorContainer'));

	controller.setModel(model);
	
};

function clearEditor(){
	controller._view.clear();
}
function setReaction(){
	controller.setModel(jchemhub.io.json.readReaction(reactionDrawing));
}
function getJson(){
	console.log(jchemhub.io.json.reactionToJson(controller.getModel()));

}
function render(){
	controller._view.render();
}

goog.events.listen(window, goog.events.EventType.LOAD, initPage);
--></script>
</head>

<body>

  <input type="button" value="clear" onclick="clearEditor();" />
  <input type="button" value="reset" onclick="setReaction();" />
  <input type="button" value="json to console" onclick="getJson();" />
  <input type="button" value="re-render" onclick="render();" />
<div id="reactionEditorContainer" style="height:400px;width:800px"></div>


</body>
</html>