<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>chem.view.ReactionEditor</title>



<script src="../../closure/goog/base.js"></script>
<script src="../deps.js"></script>
<script src="../io/io_test_rxnsample.js"></script>

<script>
	goog.require('chem.controller.Controller');
	goog.require('chem.view.ReactionEditor');
	goog.require('goog.events.EventType');
	goog.require('chem.io.Rxnfile');
	goog.require('goog.dom');
</script>
<script>
    
function initPage(){
	var model = chem.controller.Controller.buildReactionDrawing(chem.io.Rxnfile.read(rxnsample));
	var view = new chem.view.ReactionEditor(goog.dom.getElement('reactionEditorContainer'), {width:1000, height:400});
	var controller = new chem.controller.Controller(model, view);

};


	
goog.events.listen(window, goog.events.EventType.LOAD, initPage);
</script>
</head>

<body>
<div id="reactionEditorContainer" style="width: 800px"></div>

</body>
</html>